[Desktop Entry]
Encoding=UTF-8
Name=Link to Archie - YouTube
Type=Link
URL=https://www.youtube.com/watch?v=3LMPKYwYB8E
Icon=text-html
Name[en_US]=Link to Archie - YouTube
